.post-description .highlight {
    background-color: #efefef;
    padding: 7px 7px 7px 10px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(255,170,0,1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(255,170,0,1);
    box-shadow: 4px 4px 0px 0px rgba(255,170,0,1);
    margin: 20px 0 20px 0;
    overflow: hidden;
}

code {
    font-family: Menlo,Consolas,"Courier New",Courier,"Liberation Mono",monospace;
    font-size: 1em;
    color: #dddddd;
}

.post-description .highlight .c { color: #586E75 } /* Comment */
.post-description .highlight .err { color: #93A1A1 } /* Error */
.post-description .highlight .g { color: #93A1A1 } /* Generic */
.post-description .highlight .k { color: #859900 } /* Keyword */
.post-description .highlight .l { color: #93A1A1 } /* Literal */
.post-description .highlight .n { color: #93A1A1 } /* Name */
.post-description .highlight .o { color: #859900 } /* Operator */
.post-description .highlight .x { color: #CB4B16 } /* Other */
.post-description .highlight .p { color: #93A1A1 } /* Punctuation */
.post-description .highlight .cm { color: #586E75 } /* Comment.Multiline */
.post-description .highlight .cp { color: #859900 } /* Comment.Preproc */
.post-description .highlight .c1 { color: #586E75 } /* Comment.Single */
.post-description .highlight .cs { color: #859900 } /* Comment.Special */
.post-description .highlight .gd { color: #2AA198 } /* Generic.Deleted */
.post-description .highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.post-description .highlight .gr { color: #DC322F } /* Generic.Error */
.post-description .highlight .gh { color: #CB4B16 } /* Generic.Heading */
.post-description .highlight .gi { color: #859900 } /* Generic.Inserted */
.post-description .highlight .go { color: #93A1A1 } /* Generic.Output */
.post-description .highlight .gp { color: #93A1A1 } /* Generic.Prompt */
.post-description .highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.post-description .highlight .gu { color: #CB4B16 } /* Generic.Subheading */
.post-description .highlight .gt { color: #93A1A1 } /* Generic.Traceback */
.post-description .highlight .kc { color: #CB4B16 } /* Keyword.Constant */
.post-description .highlight .kd { color: #268BD2 } /* Keyword.Declaration */
.post-description .highlight .kn { color: #859900 } /* Keyword.Namespace */
.post-description .highlight .kp { color: #859900 } /* Keyword.Pseudo */
.post-description .highlight .kr { color: #268BD2 } /* Keyword.Reserved */
.post-description .highlight .kt { color: #DC322F } /* Keyword.Type */
.post-description .highlight .ld { color: #93A1A1 } /* Literal.Date */
.post-description .highlight .m { color: #2AA198 } /* Literal.Number */
.post-description .highlight .s { color: #2AA198 } /* Literal.String */
.post-description .highlight .na { color: #93A1A1 } /* Name.Attribute */
.post-description .highlight .nb { color: #B58900 } /* Name.Builtin */
.post-description .highlight .nc { color: #268BD2 } /* Name.Class */
.post-description .highlight .no { color: #CB4B16 } /* Name.Constant */
.post-description .highlight .nd { color: #268BD2 } /* Name.Decorator */
.post-description .highlight .ni { color: #CB4B16 } /* Name.Entity */
.post-description .highlight .ne { color: #CB4B16 } /* Name.Exception */
.post-description .highlight .nf { color: #268BD2 } /* Name.Function */
.post-description .highlight .nl { color: #93A1A1 } /* Name.Label */
.post-description .highlight .nn { color: #93A1A1 } /* Name.Namespace */
.post-description .highlight .nx { color: #555 } /* Name.Other */
.post-description .highlight .py { color: #93A1A1 } /* Name.Property */
.post-description .highlight .nt { color: #268BD2 } /* Name.Tag */
.post-description .highlight .nv { color: #268BD2 } /* Name.Variable */
.post-description .highlight .ow { color: #859900 } /* Operator.Word */
.post-description .highlight .w { color: #93A1A1 } /* Text.Whitespace */
.post-description .highlight .mf { color: #2AA198 } /* Literal.Number.Float */
.post-description .highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
.post-description .highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
.post-description .highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
.post-description .highlight .sb { color: #586E75 } /* Literal.String.Backtick */
.post-description .highlight .sc { color: #2AA198 } /* Literal.String.Char */
.post-description .highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
.post-description .highlight .s2 { color: #2AA198 } /* Literal.String.Double */
.post-description .highlight .se { color: #CB4B16 } /* Literal.String.Escape */
.post-description .highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.post-description .highlight .si { color: #2AA198 } /* Literal.String.Interpol */
.post-description .highlight .sx { color: #2AA198 } /* Literal.String.Other */
.post-description .highlight .sr { color: #DC322F } /* Literal.String.Regex */
.post-description .highlight .s1 { color: #2AA198 } /* Literal.String.Single */
.post-description .highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
.post-description .highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.post-description .highlight .vc { color: #268BD2 } /* Name.Variable.Class */
.post-description .highlight .vg { color: #268BD2 } /* Name.Variable.Global */
.post-description .highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
.post-description .highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */
