<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body>
<div class="pure-g-r" id="layout">
    <div class="sidebar pure-u">
        <header class="header">
            <div class="about pure-g-r">
                <div class="pure-u-1-2">
                    <img class="image-me " src="/images/me-large.jpg" height="180" width="122" title="me">
                </div>
                <div class="contact pure-u-1-2">
                    Hi, I'm
                    <h1 class="brand-title"><a href="/">David Makin</a></h1><br />
                    <a href="https://twitter.com/pwnedsleeper" title=""><i class="fa fa-twitter fa-lg fa-fw"></i></a>
                    <a href="https://www.facebook.com/david.makin" title=""><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                    <a href="https://foursquare.com/pwnedsleeper" title=""><i class="fa fa-foursquare fa-lg fa-fw"></i></a>
                    <a href="http://stackoverflow.com/users/7873/sleep-er" title=""><i class="fa fa-stack-overflow fa-lg fa-fw"></i></a>
                    <a href="https://github.com/sleep-er" title=""><i class="fa fa-github fa-lg fa-fw"></i></a>
                </div>
            </div>

            <h2 class="brand-tagline">general geek, web developer, mainly LAMP and related tech, proud Linux user</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button pure-menu-selected" href="{{ site.url }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{{ site.url }}/gallery">Gallery</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="pure-u-1">
        <div class="content">

            {{ content }}

            <footer class="footer">

            </footer>

        </div>
    </div>
</div>
</body>
</html>
